---
styles: true
---

@import "normalize";
@import "type";

body {
  background: #f4f4f4;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.main {
  width: 100%;
  @media (min-width: 40em) {
    width: 70%;
  }
}

.aside {
  max-width: 100%;
  @media (min-width: 40em) {
    max-width: 30%;
  }
}
