<!-- Container for the image gallery -->
<div class="container">

    <!-- Full-width images with number text -->
    <div class="mySlides">
        {% for image in (1..4) %}
        <div class="numbertext">{{ image }} / 6</div>
        <img src="assets/slideshow/{{ image }}.jpg" style="width:100%">
        {% endfor %}
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Image text -->
    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <!-- Thumbnail images -->
    <div class="row">
        {% for image in (1..4) %}
        <div class="column">
            <img class="demo cursor" src="assets/slideshow/{{ image }}.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
        </div>
        {% endfor %}
    </div>
</div>