{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list list--nav">
    {% for item in site.navigation_header %}
      <li class="item  item--nav{% if item[1] == page.url %}  item--current{% endif %}">
        <a href="{{ item[1] }}" title="Page - {{ item[0] }}">{{ item[0] }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  const navList = document.querySelector('.nav--header ul')

  const createButton = (parent) => {
  	const navToggle = document.createElement('button')
    navToggle.innerHTML = '<svg class="icon  icon--nav" role="img"><use xlink:href="#nav"></use></svg>';
  	parent.insertBefore(navToggle, navList)

  	return navToggle
  };

  const toggle = (el, elHeight) => {
  	if (el.clientHeight === 0) {
  	  el.setAttribute('style', `height: ${elHeight}px`)
  	} else {
  	  el.setAttribute('style', 'height: 0')
  	}
  };

  const applyState = (itemCount, breakpoint) => {
  	if (navList.childElementCount > itemCount && document.body.clientWidth < breakpoint ) {
  		const navListHeight = navList.clientHeight

  		toggle(navList, navListHeight)

  		createButton(navList.parentElement).onclick = () => {
  			toggle(navList, navListHeight)
  		}
  	}
  }

  applyState(5, 640)
</script>
