<nav class="nav">
  <ul class="list list--nav">
    {% for item in site.pages %}
      {% unless item.title == false or item.url contains "/page" or item.url contains "/404.html" or item.url contains "/feed." %}
        <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
          {% if item.collectionpage %}
      			{% assign collectiondata = site.collections | where: "label", item.collectionpage | first %}
      			<a href="{{ item.url }}" title="Page - {{ collectiondata.title }}">{{ collectiondata.title }}</a>
      		{% else %}
            <a href="{{ item.url }}" title="Page - {{ item.title }}">{{ item.title }}</a>
      		{% endif %}
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</nav>
