{% if paginator.posts %}

	<ul class="list  list--posts">
		{% for page in paginator.posts %}
			<li class="item  item--post">
				<article class="article  article--post  typeset">

					<h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
					{% include post-meta.html %}
					{{ page.excerpt | markdownify | truncatewords: 60 }}

				</article>
			</li>
		{% endfor %}
	</ul>
	{% include post-pagination.html %}

{% else %}
	<h2>Latest blog posts</h2>
	<ul class="list  list--posts">
		{% for page in site.posts limit: 4 %}
			<li class="item  item--post">
				<article class="article  article--post  typeset">

					<h5><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h5>
					{% include post-meta.html %}
					{{ page.excerpt | markdownify | truncatewords: 60 }}

				</article>
			</li>
		{% endfor %}
	</ul>

{% endif %}
