<aside class="aside  typeset{% if include.align == "left" %}  aside--left{% endif %}">
  <h3>Style options</h3>
  <div class="style-options">

  </div>
</aside>

<script type="text/javascript">
// The array of styles in the stylesheet
const styles = {
  "backgroundColour": "#ffffff",
  "codeBackgroundColour": "#f4f4f4",
  "featureBackgroundColour": "#eeeeee",
  "accentColour": "#05bf85",
  "headingColour": "#333333",
  "bodyColour": "#555555",
  "linkColour": "#05bf85",
  "hoverColour": "#008000",
  "focusColour": "#fa407a",
  "captionColour": "#aaaaaa",
  "white": "#fff",
  "bodyType": "Georgia, serif",
  "headingType": "'Merriweather', serif"
};

// The array of fonts in the stylesheet
const fonts = {
  "Helvetica": "Helvetica, sans-serif",
  "Tahoma": "Tahoma, sans-serif",
  "Verdana": "Verdana, sans-serif",
  "Georgia": "Georgia, serif",
  "Merriweather": "'Merriweather', serif"
};


// Create fields with labels
// append them to the styles panel
// listen to changes
function createField(property, value, panel) {
	const stylesPanel = document.querySelector(panel);

	const label = document.createElement('label');
  const input = document.createElement('input');

  if (value.includes('#')) {
    input.setAttribute('type', 'color');
    input.value = value;
    input.addEventListener('change', () => { getInputValue(input.value, property) } );
    stylesPanel.appendChild(input);
    stylesPanel.insertBefore(label, input);

  } else if (property.includes('Type')) {
    const select = document.createElement('select');
    select.addEventListener('change', () => { getInputValue(select.value, property) } );
    stylesPanel.appendChild(createFontOptions(fonts, select));
    stylesPanel.insertBefore(label, select);
  }

	label.innerHTML = property.replace('--', ' ');
}

function createFontOptions(fonts, select) {
  for (const font of Object.keys(fonts)) {
    const option = document.createElement('option');
    option.value = fonts[font];
    option.innerHTML = font;
    select.appendChild(option);
  }
  return select;
}

// Get the inputted value and update the styles
function getInputValue(updatedValue, updatedProperty) {
	for (const property of Object.keys(styles)) {
		if (updatedProperty == property) {
			styles[property] = updatedValue;
		}
	}
	applyStyles(styles);
}

// Apply styles to the page
function applyStyles(styles) {
	let updatedStyles = "";
	for (const property of Object.keys(styles)) {
		let value = styles[property];

		updatedStyles += `--${property}:${value};`;
	}
	document.body.setAttribute('style', updatedStyles);
}

// Create all the fields for each style
function generateSettings(panel) {
	for (const property of Object.keys(styles)) {
		let value = styles[property];
		createField(property, value, panel);
	}
}

// init
generateSettings('.style-options');
</script>
