<script
  type="module"
  src="https://esm.sh/@daviddarnes/storage-form@2.0.0"
></script>

<storage-form class="color-scheme">
  <form>
    <legend>Color scheme</legend>
    <label>
      <input type="radio" name="theme" value="dark" />
      <span>Dark</span>
    </label>
    <label>
      <input type="radio" name="theme" value="light" />
      <span>Light</span>
    </label>
    <label>
      <input type="radio" name="theme" value="" checked />
      <span>Default</span>
    </label>
  </form>
</storage-form>
