// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #040218 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384713 !default;
$linkColour: #190730 !default;
$hoverColour: #726f9e !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: 'Source Serif Pro, "Noto Serif KR", serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Ubuntu", "Do Hyeon", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: '"Nanum Gothic Coding", "Source Code Pro, monospace"',
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
