// Typography

// 1. Variables
$color--text: #222222;
$color--links: teal;
$font--primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font--secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

// 2. Root type
:root {
  color: $color--text;
  font-family: $font--primary;
  font-size: 3.5vw;
  line-height: 1.8;
  @media (min-width: 40em) {
    font-size: 2.5vw;
  }
  @media (min-width: 60em) {
    font-size: 2vw;
  }
  @media (min-width: 80em) {
    font-size: 1.8vw;
  }
}

// 3. Font sizing
h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .8rem;
}

p,
blockquote {
  font-size: 1rem;
}

// 4. Vertical spacing
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1.1rem;
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    padding-top: .8rem;
  }
}

// 5. Font families
h1,
h2 {
  font-family: $font--primary;
}

h3,
h4,
h5,
h6,
p,
blockquote {
  font-family: $font--secondary;
}

// 6. Quotes & code blocks
blockquote {
  border-left: solid 0.25rem lighten($color--text, 10%);
  margin-left: 1rem;
  padding-left: 1rem;
}

code,
kbd,
pre,
samp {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  overflow: scroll;
}

// 6. Links
a {
  color: $color--links;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
