<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<!-- General meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% if page.indexing == false %}
			<meta name="robots" content="noindex">
		{% endif %}

		{% if page.collectionpage %}
			{% seo title=false %}

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
			<meta property="og:title" content="{{ collectiondata.title }}">
			<meta name="description" content="{{ collectiondata.description }}">
			<meta property="og:description" content="{{ collectiondata.description }}">
		{% else %}
			{% seo %}
		{% endif %}

    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		{% if site.avatarurl %}{% include site-favicons.html %}{% endif %}
	</head>
	<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
		{% include site-icons.svg %}

		{{ content }}

	</body>
</html>
